.nav-container {
  padding-left: 15px;
  min-height: 70px;
  
}

.nav-logo-text {
  color: #000;
}

.nav-logo-text h4 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.nav-login-logout {
  display: none;
}
